.body {
  margin: 0px;
  padding: 0px;
  margin: 0 auto; 
}

html {
  /* Size of largest container or bigger */
  min-width: 1080px;
}

.app { 

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.logo{
width: 200px;
height: 200px;
background-color: black;
position: absolute;
left: 0;
top: 0;
margin-top: 40px;
margin-left: 50px;
}


.logobackGround{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

/* .myTunes{
  width: 600px;
  height: 100px;
  background-color: aqua;
} */

.name{
  font-size: 30px;

  
}

.titleName { 
  font-size: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.addSongs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.songList{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-left: 50px;
}

.logoImage{
  width:100%;
  height: 100%;

}

button {
  margin-left: 10px;
  border-radius: 60px;
  border: none;
  background-color: #CB212D;
  height: 30px;
  color: white;
  font-weight: bold;

}